@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: .9rem;
  background-color: #f0f0f0;
}

h1{
  font-size:3rem;
  font-weight: 350;
  width: 140px;
  text-align: center;
}
a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

/* ヘッダー部分 */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.wrapper{
  display: flex;
  justify-content: start;
  gap: 20px;
}

.item{
}



header p{
  width: 140px;
  height: 70px;
  background-color: #000;
  color: white;
  display: inline-block;
  text-align: center;
}