@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: .9rem;
  background-color: #f0f0f0;
}

h1{
  font-size:3rem;
  font-weight: 350;
  width: 140px;
  text-align: center;
}
a{
  text-decoration: none;
  color: #000;
}

li{
  list-style: none;
}

/* ヘッダー部分 */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
}

.wrapper{
  display: flex;
  gap: 20px;
  margin-right: 30%;
}


header p{
  background-color: #000;
  color: white;
  text-align: center;
}

@media(max-width:900px){
  header p{
    display: none;
  }
}

main img{
  max-width: 100%;
  height: 900px;
  object-fit: cover;
}